<ion-header>
  <ion-toolbar>
    <ion-title>Share Location</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu" autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  

<ion-content id="main-content" class="ion-padding">
  <!-- 主要内容 -->
  <ion-searchbar animated="true" placeholder="Animated"></ion-searchbar>
  <div #mapElement id="map" style="width: 100%; height: 400px;"></div>

  <!-- Add a map placeholder (you can customize this) -->
  

  <!-- Other content for the Share Location page -->


  <!-- Add the plus button -->
  
</ion-content>

<ion-menu contentId="main-content" side="end" menuId="main-menu" swipeGesture="false" class="styled-menu">
  <ion-header>
    <ion-toolbar>
      <ion-avatar>
        <img src="assets/user.jpeg" alt="User Avatar" />
      </ion-avatar>

      <div *ngIf="loggedInUserData">
        <p>User ID: {{ loggedInUserData.id }}</p>
        <p>User Name: {{ loggedInUserData.username }}</p>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content class="styled-content">
    <!-- ... -->
    <ion-button expand="full" class="rounded-button" (click)="login()">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>
    <ion-button expand="full" class="rounded-button" (click)="navigateToProductCreate()">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-button>
    <ion-button expand="full" class="rounded-button" (click)="navigateToPersonList()">
      <ion-icon name="people-outline"></ion-icon>
    </ion-button>
    <ion-button expand="full" class="rounded-button" (click)="Camara()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-button>
    
  </ion-content>
</ion-menu>
