/* src/app/pages/login/login.page.scss */
ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
    .login-button {
      background: linear-gradient(to bottom, white, black);
      color: white;
    }
  
    ion-item {
      margin-bottom: 15px;
    }
  }
  