<ion-header>
  <ion-toolbar >
    <ion-title class="center-content">Login</ion-title>
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

  </ion-toolbar>
  
</ion-header>

<ion-content class="ion-padding" [scrollY]="false" [scrollX]="false">
  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input [(ngModel)]="username" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>


  
  <button mat-stroked-button color="primary" (click)="login()" class="custom-button">Login</button>




  <div class="ion-text-center">
    <p>Don't have an account? <a routerLink="/register">Register</a></p>
  </div>
  <div class="ion-text-center">
    <p>
      Forgot your password? <a routerLink="/view-email">Reset Password</a>
    </p>
  </div>
</ion-content>
