  <ion-header>
    <ion-toolbar>
      
      <ion-title>Contacts</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="addContact()">
          <ion-icon name="add"></ion-icon> Add Contact
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  <ion-card *ngFor="let contact of contacts">
    <ion-card-header>
      Name: {{ contact.name }}
    </ion-card-header>
    <ion-card-content>
      Phone: {{ contact.phone }}<br>
      Address: {{ contact.address }}<br>
      Email: {{ contact.email }}
    </ion-card-content>
    <ion-button (click)="editContact(contact)">Edit</ion-button>
    <ion-button (click)="deleteContact(contact)">Delete</ion-button>
  </ion-card>
</ion-content>
