<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEditMode ? 'Edit Contact' : 'Add Contact' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancel</ion-button>
      <ion-button (click)="saveContact()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Name</ion-label>
    <ion-input [(ngModel)]="contact.name" name="name" required></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Phone</ion-label>
    <ion-input [(ngModel)]="contact.phone" name="phone" required></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Address</ion-label>
    <ion-input [(ngModel)]="contact.address" name="address"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input [(ngModel)]="contact.email" name="email" type="email" required></ion-input>
  </ion-item>
</ion-content>

