<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="saveAndGoBack()" defaultHref="/"></ion-back-button> <!-- 返回按钮 -->
    </ion-buttons>
    <ion-title class="ion-text-center">Create Person</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input [(ngModel)]="personName" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Age</ion-label>
    <ion-input [(ngModel)]="personAge" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Phone Number</ion-label>
    <ion-input [(ngModel)]="personPhoneNumber" type="tel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Address</ion-label>
    <ion-input [(ngModel)]="personAddress" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Date of Birth</ion-label>
    <ion-input [(ngModel)]="personDateOfBirth" type="date"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="createProduct()">Create</ion-button>
</ion-content>
