/* src/app/pages/home/home.page.scss */
ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .image-container {
    text-align: center;
    background-color: #f2f2f2;
  }

  img {

    object-fit: cover;
  }
}

