<ion-content>
  <div class="welcome-container">
    <img src="assets/00.png" alt="Welcome Image" class="welcome-image">
    <div class="typing-effect">
      <span>W</span>
      <span>e</span>
      <span>l</span>
      <span>c</span>
      <span>o</span>
      <span>m</span>
      <span>e</span>
      <span>&nbsp;</span> <!-- 使用 &nbsp; 替代空格 -->
      <span>t</span>
      <span>o</span>
      <span>&nbsp;</span> <!-- 使用 &nbsp; 替代空格 -->
      <span>o</span>
      <span>u</span>
      <span>r</span>
      <span>&nbsp;</span> <!-- 使用 &nbsp; 替代空格 -->
      <span>A</span>
      <span>p</span>
      <span>p</span>
    </div>
    
  </div>
  
</ion-content>
