<ion-header>
  <ion-toolbar>
    <ion-title>
      Register
    </ion-title>
    <ion-buttons slot="end"> <!-- 将按钮放在标题栏的右侧 -->
      <ion-button (click)="goToLoginPage()" color="dark"> <!-- 设置按钮颜色为黑色 -->
        X
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false" [scrollX]="false">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Username (max 8 characters)</ion-label>
      <ion-input type="text" maxlength="8" required [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password (1 uppercase, 4 digits, 3 characters)</ion-label>
      <ion-input aria-label="Password" type="password" required [(ngModel)]="password"></ion-input>

    </ion-item>

    <ion-item>
      <ion-label position="floating">Date of Birth</ion-label>
      <ion-input type="date" required [(ngModel)]="dob"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input type="text" required [(ngModel)]="address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Age</ion-label>
      <ion-input type="number" required [(ngModel)]="age"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" color="primary" class="register-button" (click)="register()">Register</ion-button>
</ion-content>
